$iconSpritePath:          "../images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

body {
	width:100%;
}
$header_height: 162px;

$header_margin_top: 20px;
$header_margin_bottom: 30px;
$header_margin_total: $header_margin_top + $header_margin_bottom;

#header_site {
	width:100%;
	h1 {
		background:url(../images/header_site.png) no-repeat center;
		background-size:contain;
		max-width:1013px;
		width:auto;
		height:$header_height+-$header_margin_total;
		text-indent:-50em;
		margin:$header_margin_top auto $header_margin_bottom auto;
	}
}

.content {
	margin:0 0.5em 0.5em 0.5em;
}

.userform {
	position:absolute;
	left:0;
	bottom:0;
	width:25%;
	top:$header_height;

	input[type=text] {
		width:75%;
	}

}

#map {
	position:absolute;
	top:$header_height;
	left:25%;
	bottom:0;
	right:20%;
	// box-shadow:0px 0px 30px rgba(0,0,0,0.5em) inset;
}

.themes {

	position:absolute;
	right:0;
	top:$header_height;
	width:18%;
	bottom:0;

	overflow-y: auto;
overflow-x: hidden; 
-webkit-overflow-scrolling: touch;

	.content {
		margin:0;
		padding:0 1em 0.5em 0em;

		.thumbnails {
			margin:0;		
		}	
		.thumbnails > li {
			margin-left:0;
		}

		h4 {
			padding:0;
			margin:0;
		}
	}
}

