<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-16">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NouveauxPI</title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width"> -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet"  href="styles/bootstrap/css/bootstrap.css" >   
		 <!-- Include the compiled Ratchet CSS -->
		<link rel="stylesheet" href="styles/ratchet.css">
        <!-- build:js scripts/vendor/modernizr.js -->
		 <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/touch-icons/apple-touch-icon-57x57.png">

       <!-- Include the compiled Ratchet JS -->
    <script src="scripts/ratchet.js"></script>

		
		<!-- endbuild -->
    </head>
    <body>
        <div id="header_site"><h1>Nouveaux points d'int&eacute;r&ecirc;t:</h1></div>
<div class="iphone" style="" id="barsInPhone">
            <div class="iphone-content">
              <div id="iwindow"><header class="bar-title">
  <h1 class="title">Planification des trajets</h1>
</header></div>
            </div>
          </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or 
<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<input type="file" id="take-picture" accept="image/*"/>
        <div class="row-fluid">
  <input type="text" placeholder="Depart: Arrivee: PI:"/>
  <a class="button button-block">Ajouter</a>
  
			</div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
